<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Book Page</title>
</head>
<body>
    <h1>New Book Page</h1>
    <form action="/books" method="post" enctype="multipart/form-data"><br>
        Book Cover Image <input type="file" name="coverImage"><br>
        Title: <input type="text" name="title"><br>
        Completed: <input type="checkbox" name="completed"><br>
        Choose Author: <select name="author">
                            <% authors.forEach(a => { %>
                                <option value="<%= a._id %>"><%= a.firstName %> <%= a.lastName %></option>
                            <% }) %>
                       </select><br>
        Author Not In Database? <a href="/authors/new">Add them now</a><br>
        <input type="submit" value="Add Book">
    </form>
</body>
</html>