<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/js/search.js"></script>
    <title>Search For A Book</title>
</head>
<body>
    <h1>Search For A Book</h1>
    <nav style="margin-bottom: 5rem;">
        <a href="/books">Back to Books List</a>
        <a href="/books/new">Add a New Book</a>
    </nav>
    <input type="text">
    <button>Search</button>

    <ul>
        <!-- Search Results -->
    </ul>
</body>
</html>