<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Author</title>
</head>
<body>
    <h1>Create New Author</h1>
    <form action="/authors" method="post">
        <label>First Name:
            <input type="text" name="firstName">
        </label><br />
        <label>Last Name:
            <input type="text" name="lastName">
        </label><br />
        <label>DOB:
            <input type="date" name="dob">
        </label><br />
        <input type="submit" value="Add Author">
    </form>
</body>
</html>